<app-header nombre="Check in/Check out"></app-header>

<ion-content>
    <ul class="list">
        <li class="list_item" *ngFor="let cliente of clientes">
            <ion-label>{{cliente.Nombre}}</ion-label>
            <!--<div>
                <ion-button color="primary" [disabled]="cliente.checkin" (click)="checkin(cliente.Codigo)">Check in
                </ion-button>
                <ion-button color="secondary" [disabled]="cliente.checkout" (click)="checkout(cliente.Codigo)">Check out
                </ion-button>
            </div>-->
        </li>
    </ul>
</ion-content>